* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.menu {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    outline: 2px solid #95a5ee;
    background-color: #0056b3;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #0057b35b;
}

.highlight-box {
    display: inline-block;
    background-color:#0056b3;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.highlight-boxdiff {
    display: inline-block;
    background-color:#000000;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-bottom: 20px;
    color: #333;
    position: relative;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 15px;
}

section a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

section a:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: -30px;
    color: #666;
}

#site1 {
    background-image: url(https://i.imgur.com/dMRc6yZ.png);
    background-size: cover;
    background-position: 0px 300px;
    color: #007bff;
}

#site2 {
    background-image: url(https://i.imgur.com/csHKhtY.png);
    background-size: cover;
    background-position: 0px -20px;
    color: #007bff;
}

#site3 {
    background-image: url(https://i.imgur.com/PUHXx2y.png);
    background-size: cover;
    background-position: 0px -20px;
    color: #007bff;
}

#site4 {
    background-image: url(https://i.imgur.com/WVLNHXY.png);
    background-size: cover;
    background-position: -25px -20px;
    color: #007bff;
}

#site5 {
    background-image: url(https://i.imgur.com/wE9C2fI.png);
    background-size: cover;
    background-position: 0px 0px;
    color: #007bff;
    margin-bottom: 50px;
}

html {
    scroll-behavior: smooth;
}